{% load static %}

{% if basket.is_confirmed %}
    <button class="btn btn-danger btn-block">Cancel Confirm<i class="fa fa-times"></i></button>
    <!-- Modal -->
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Basket Status</h5>
                </div>
                <div class="modal-body">Are you sure you want to cancel confirmation?</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a href="{% url 'confirm-basket' basket.pk %}" type="button" class="btn btn-secondary">Cancel confirmation</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /Modal -->
{% else %}
    <button class="btn btn-success btn-block">Confirm <i class="fa fa-angle-right"></i></button>
    <!-- Modal -->
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Basket Status</h5>
                </div>
                <div class="modal-body">Are you sure you want to confirm this basket?</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a href="{% url 'confirm-basket' basket.pk %}" type="button" class="btn btn-secondary">Confirm</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /Modal -->
{% endif %}
