@media(min-width:600px){
    .prices {
        display: block!important;
        visibility: visible!important;
    }
}

.card{
    margin-bottom: .5rem;
}

a.price-link,
h3.meal-category-header{
    color: #00aca9;
}

div.meal-category-line{
    border-bottom: 1px solid;
    width: 100%;
    margin: 0 0 1em;
}

a.price-link:hover,
a.price-link:focus,
a.price-link:active{
    color: #878787;
}

.meal-logo{
    display: block;
    margin: auto;
    width: 255px;
    height: 255px;
}

table.meal-sizes{
    margin-bottom: 0rem;
}

td.meal-size{
    padding-left: 1rem !important;
    padding-right: 1rem;
}
