
    h2{
        float:left;
    }
    .basket-delete{
        width:10%;
        float:right;
    }
    td{
        max-width: 200px;
        max-height:200px;
    }


@media(max-width: 600px){
    table{
        h2{

        }
        .basket-delete{
            width:30%;
        }
        td{
            max-width: initial;
            max-height:initial;
        }
        thead{
            display:none;
        }
        tbody{
            tr{
                &:last-child{
                    border-bottom: 2px solid black;
                }
                td{
                    &:first-child{
                        background: #333;
                        color: #fff;
                    }
                    display:block;
                    padding: .6rem;
                    min-width:320px;
                    .form-control{
                        width:20%;
                        display: inline !important;
                    }
                    &:before{
                        content: attr(data-th);
                        font-weight: bold;
                        display:inline-block;
                        width: 8rem;
                    }
                    .form-control{
                        width:20%;
                        display: inline !important;
                    }

                    .btn{
                        width:30%;
                        margin:1.5em 0;
                        border: 1px solid grey;
                        &.btn-info{
                            float:left;
                        }
                        &.btn-danger{
                            float:right;
                        }
                    }
                }
            }
        }
        tfoot{
            td{
                display:block;
                .btn{
                    display:block;
                }
            }
        }
    }
}
