@media (max-width:599px){
    .card
    {
        margin-bottom: .5rem;
    }
}

#restaurant_logo {
    display: block;
    margin: auto;
    width: 255px;
    height: 255px;
}

a.btn.menu-link,
a.btn.website{
    background: linear-gradient(#95A7B0 , #4C5C6A) !important;
}
