a {
    color: white;

    &:visited, &:hover {
        color: white;
    }
}

#logo{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#submit{
    color: white;
    display: block;
    width: 270px;
    margin-right: auto;
    margin-left: auto;
    background-color: black;
}

@media(max-width:768px){
    #logo{
        width: 221px;
        height: 132px;
    }
}
