.sidebar{
    background-color: $main_color;
    width:15%;
    height:0px;
    padding:0;
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #eee;
    border-radius: 0 0 10px 10px;
    ul{
        li{
            a{
                display:block;
            }
            &:hover{
                background-color:grey;
            }
        }
    }
}

@media(max-width:768px){
    .sidebar-nav{
        text-align: center;
    }
}
