@import 'partials/mixins';
@import 'partials/variables';


body{
    padding-top: 94px;
}

.navbar-toggler{
    position: static;
    margin-right: 10px;

    &:hover{
        cursor: pointer;
    }
}

.row{
    @include transition(.5s)

    &.toggled{
        padding-left: 0;

        .sidebar{
            height: 350px;
            border-right: solid 1px;
        }
    }
}

.content-container{
    float: left;
}

@media(max-width:768px){
    body{
        padding-top: 64px;
    }

    .row{
        padding: 0;
        padding-top: 20px;
    }
}
