.nav{
    &.navbar-light{
        @include transition(.5s)
        background: #4C5C6A;
        width: 100%;
        padding-top: 6px;
        padding-bottom:5px;
        background-color: #4C5C6A;
        .navbar-toggler{
            transition: box-shadow 0.3s ease-in-out;
            font-size: 26px;
            text-decoration: none;
            color: black;
            text-align: center;
            border:none;
            outline: none;
            &::before{
                margin-top: 9px;
                margin-left: 9px;
            }
            &.active{
                @include shadow
            }
        }
        .navbar-brand{
            a{
                text-decoration: none;
                color: white;
            }
        }
        .nav{
            position: fixed;
            right: 0;
            padding-right: 20px;
            /*Cart*/
            .nav-link{
                transition: box-shadow 0.3s ease-in-out;
                font-size: 26px;
                position: fixed;
                right: 100px;
                width: 39px;
                height: 39px;
                padding: 0;
                text-align: center;
                text-decoration: none;
                color: white;
                border-radius: 50%;
                &:hover{
                    @include shadow
                }
                &.avatar{
                    right: 20px;
                    width: 39px;
                    height: 39px;
                    border-radius: 50%;
                    background-position: center;
                    &:hover{
                        box-shadow:none;
                    }
                }
            }
            .dropdown-menu{
                z-index:1000;
                .dropdown-item{
                    color:black;
                }
            }
        }
    }
}

@media(max-width:768px){
    .nav{
        &.fixed-top{
            &.fades{
                width: 100%;
            }

            #sec-top-bar{
                width: 20%;
                margin-right: 10%;
                margin-left: 80%;
            }
        }
    }
    .nav{
        &.navbar-light{
            background:#4C5C6A;
        }
    }
}
