<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">
        <title>APOF</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="{% static "portal/css/bootstrap.min.css" %}">

        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="{% static "portal/css/style.css" %}">
        <link rel="stylesheet" href="{% static "portal/css/topbar.css" %}">
        <link rel="stylesheet" href="{% static "portal/css/sidebar.css" %}">
        <link rel="stylesheet" href="{% static "portal/css/mobile.css" %}">
    </head>

    <body>
        <!--NAVIGATION -->
        {% include "portal/topbar.html" %}

        <div id="wrapper">
            <!-- SIDEBAR -->
            {% include "portal/sidebar.html" %}

            <!-- CONTENT -->
            <div id="content-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1>Lorem Ipsum</h1>
                            {% block content %}
                            {% endblock content %}
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- /wrapper -->
    </body>

    <!--BOOTSTRAP SCRIPTS -->
    <script src="{% static "portal/js/jquery-3.1.1.min.js" %}" ></script>
    <script src="{% static "portal/js/tether.min.js" %}"></script>
    <script src="{% static "portal/js/bootstrap.min.js" %}"></script>

    <!--Script for sidebar hidding -->
    <script src="{% static "portal/js/index.js" %}"></script>

</html>
