<div class="container">
    <div class="row align-items-start">
        <nav class="navbar fixed-top navbar-light" id="top-nav">
            <div class="navbar-header">
                <a id="menu-toggle" href="#">
                    <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                </a>
                <div  class="navbar-brand">
                    <a href="#">Apof</a>
                </div>
            </div>
        </nav>
    </div>
    <nav class="navbar fixed-top" id="sec-top-bar">
        {% load staticfiles %}
        <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" id="avatar" aria-expanded="false" 
        style="background-image: url({% static "portal/images/avatar.jpg" %});"></a>
        <div class="dropdown-menu dropdown-menu-right" id="avatar-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Logout</a>
        </div>
    </nav>
</div>
