{% extends 'restaurants/base.html' %}
{% block content %}
    <div class="container">
        <div class="card-deck">
            {% for restaurant in restaurants %}
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card">
                        <img class="card-img-top" src="{{ restaurant.logo.url }}" alt="Card image cap">
                        <div class="card-block">
                            <a href="#" class="btn btn-primary btn-block" style="white-space: normal;">{{ restaurant.name }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
