{% extends 'restaurants/base.html' %}
{% block content %}
    <div class="container">
        <div class="card-deck">
            {% for restaurant in restaurants %}
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="{{ restaurant.logo.url }}" alt="Card image cap" style="width: 100%">
                        <div class="card-block">
                            <h3 class="card-text" style="text-align: center;">{{ restaurant.name }}</h3>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
