{% extends "portal/base.html" %}
{% load staticfiles %}

{% block style %}
    <link rel="stylesheet" href="{% static "portal/css/login.css" %}">
{% endblock %}

{% block body %}
    <div class="container">
        <row>
            <h1 class="display-1 text-center">Apof lunch app</h1>
        </row>
        <row>
            <img src="{% static "images/stx_logo.png" %}" height="265" width="552" id="logo"></img>
        </row>
        <row>
            <a class="btn btn-primary btn-lg" href="{% url "social:begin" "google-oauth2" %}?{{ request.META.QUERY_STRING }}" id="submit">
                Login with Google
            </a>
        </row>
    </div>
{% endblock %}
