@import 'partials/mixins';
@import 'partials/variables';


body{
    padding-top: 94px;
}

.navbar-toggler{
    position: static;
    margin-right: 10px;

    &:hover{
        cursor: pointer;
    }
}

#wrapper{
    @include transition(.5s)
}

#wrapper.toggled{
    padding-left: 0;

    #sidebar-wrapper{
        height: 350px;
        border-right: solid 1px;
    }
}

#content-wrapper{
    position: absolute;
    width: 100%;
    padding-right: 100px;
    padding-left: 100px;
}

.content-container{
    float: left;
}

@media(max-width:768px){
    body{
        padding-top: 64px;
    }

    #content-wrapper{
        padding: 0;
        padding-top: 20px;
    }
}
