@import 'partials/mixins';
@import 'partials/variables';


#top-nav{
    @include transition(.5s)
    width: 100%;
    padding-top: 9px;
    opacity: .95;
    background-color: $stx_color;
}

#menu-hamburger{
    font-size: 26px;
    text-align: center;
    text-decoration: none;
    color: black;
}

.navbar-header{
    float: left;
}

#right-bar{
    position: fixed;
    right: 0;
    padding-right: 20px;
}

#avatar{
    right: 20px;
    width: 39px;
    height: 39px;
    border-radius: 50%;
}

#cart{
    font-size: 26px;
    position: fixed;
    right: 100px;
    width: 39px;
    height: 39px;
    padding: 0;
    text-align: center;
    text-decoration: none;
    color: black;
    border-radius: 50%;

    &:hover{
        @include transition(.5s)
        color: white;
        background-color: black;
    }
}

#avatar-menu{
    margin-right: 60%;
}

#top-nav.fades{
    width: 210px;
}

.navbar-brand a{
    text-decoration: none;
    color: white;
}

@media(max-width:768px){
    #top-nav.fades{
        width: 100%;
    }

    #sec-top-bar{
        width: 20%;
        margin-right: 10%;
        margin-left: 80%;
    }
}
