<nav class="sidebar navbar-inverse navbar-fixed-top">
    <span class="glyphicon glyphicon-align-justify"></span>
    <ul class="nav sidebar-nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'restaurant-list' %}">Restaurants</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Orders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Popular</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Last orders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Share meal</a>
        </li>
    </ul>
</nav>
