<nav class="sidebar navbar-inverse navbar-fixed-top" id="sidebar-wrapper">
    <span class="glyphicon glyphicon-align-justify"></span>
    <ul class="nav sidebar-nav flex-column" id="ul-navi">
        <li class="nav-item">
            <a class="nav-link" href="#">Restaurants</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Orders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Popular</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Last orders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Share meal</a>
        </li>
    </ul>
</nav>
