{% load staticfiles %}
<nav class="nav fixed-top navbar-light">
    <a class="menu-toggle" href="#">
        <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
    </a>
    <div class="navbar-brand">
        <a href="{% url 'home' %}">Apof</a>
    </div>
    <ul class="nav">
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link avatar" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="background-image: url({{ user.profile.get_avatar }});">
            </a>
            <div class="dropdown-menu dropdown-menu-right mr-auto">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Admin panel</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
            </div>
        </li>
    </ul>
</nav>
