{% extends "portal/base_body.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static "menus/css/meal_list.css" %}"/>
{% endblock style %}

{% block content %}
    <div class="row">
        <div class="card-deck-wrapper">
            <div class="card-deck">
                {% for meal in meal_list %}
                    <div class="col-sm-6 col-md-4 col-xl-3">
                        {% include "menus/_meal_card.html" %}
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
{% endblock content %}
