{% extends "admin/change_list.html" %}

{% block result_list %}
    {{ block.super }}
    <div class="results">
        <table id="result_list">
            <tr>
                {% if cl.phone_numbers %}
                <td>
                    <span style="float: left;">
                        <h5 style="display: inline;">Phones:</h5>
                            <h4 style="display: inline;">
                                {% for number in cl.phone_numbers %}
                                    {{ number }}
                                    {% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </h4>
                    </span>
                </td>
                {% endif %}
                <td>
                    <span style="float: right;">
                        <h5 style="display: inline;">Total sum on this page:</h5>
                        <h3 style="display: inline;">{{ cl.prices_sum }}</h3>
                    </span>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}
